body {
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #00662c;
  font-size: 2.2rem;
  text-shadow: 2px 2px 4px #fff;
}

h2 {
  color: #000;
}

h3{
    text-shadow: 2px 2px 4px #fff;
}

p {
  color: #000;
}

/* Section */
.white-section {
  background-color: #fff;
  margin: 10% 10% 10%;
}

.colored-section {
  background-color: #00662c;
}

/* Call to Action */

.cta-call {
  color: #fff;
  background-color: #00662c;
  border: solid #fff;
}

.cta-call:hover {
  color: #f7d100;
}

.cta-email {
  border: solid #fff;
  color: #fff;
}

.cta-email:hover {
  background-color: #00662c;
  color: #f7d100;
}

/* Navbar */
.navbar {
  padding: 1rem 1rem 1rem;
}

.brand-name {
  font-size: 1.5rem;
  padding: 0 2rem;
}

.navbar-brand {
  padding: 0.5rem 1rem;
}

.nav-item {
  padding: 0.5rem;
}

.cta-menu {
  font-size: 1.2rem;
}



/* Navbar device adaptation */
@media (min-width:1000px) {
  .cta-menu {
    position: absolute;
    right: 18px;
  }
}

@media (max-width: 500px) {
  .brand-name {
    font-size: 1rem;
    padding: 0;
  }
}

/* Above The Fold */

.cta-heading {
  margin: 2rem 2rem 2rem 0;
}

.top-container {
  padding: 0;
}

.headline {
  background-image: url("../images/Casaclima.png");
  height: 500px;
  text-align: left;
}

.headtitle {
  padding: 5% 5%;
}

/* Above The Fold device adaptation */

@media (max-width: 500px) {
  .headline {
    background-image: url("../images/Casaclima-mobile.jpg");
  }
}

/* First section */

.logo {
  margin: 2rem 0 2rem;
}

.special-text {
  color: #00883a;
  text-decoration: underline;
}

/* Testimonial Corousel */
.heading-testimonial {
  color:#fff;
  text-align: center;
  padding: 3rem 0;
}

.carousel-item {
  text-align: center;
}

.testimonial-image {
  border-radius: 100%;
  margin: 4rem 0 0;
  text-align: center;
}

.testimonial-text {
  color:#fff;
}

.name-testimonial {
  color: #f7d100;
  padding: 2rem;
}

/* Appartament prices */

.container-price {
  margin: 0;
  padding: 0;
}

.card-body {
  padding-left: 2.5%;
}

.card-header {
  text-align: center;
    padding-left: 2.5%;
}

.card-appartamento {
  margin: 2% 5% 2%;
}

.old-price {
  text-decoration-line: line-through;
  -webkit-text-decoration-line: line-through;
  text-decoration-color: red;
  -webkit-text-decoration-color: red;
}

.btn-foto {
  background-color: #00662c;
  color: #fff;
}

.btn-foto:hover {
  color: #f7d100;
}

.btn-foto:focus {
  box-shadow: none;
}

.close {
  font-size: 2rem;
}

/* CTA */

.cta-head {
  color: #fff;
  text-align: center;
  padding: 5%;
}

.cta-body {
  text-align: center;
}

.lol {
  margin: 0 10% 5%;
}

/* Features*/

.features-header {
  text-align: center;
}

.logo-row {
  margin: 15% 0 15%;
  text-align: center;
}

.logo-special {
  position: absolute;
  top: 50%;
  bottom: 50%;
}

.logo-fornitore {
  width: 50%;
    margin: auto;
    top: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
}
